/.idea
/build/generated-sources/jaxb/org/me/currency/Currencies.java
/build/generated-sources/jaxb/org/me/currency/Currency.java
/build/generated-sources/jaxb/org/me/currency/ObjectFactory.java
/build/generated-sources/jaxb/org/me/currency/package-info.java
/build/generated/jaxbCache/Currency/org/me/currency/Currencies.java
/build/generated/jaxbCache/Currency/org/me/currency/Currency.java
/build/generated/jaxbCache/Currency/org/me/currency/ObjectFactory.java
/build/generated/jaxbCache/Currency/org/me/currency/package-info.java
/build/web/META-INF/MANIFEST.MF
/build/web/WEB-INF/classes/.netbeans_automatic_build
/build/web/WEB-INF/classes/.netbeans_update_resources
/build/web/WEB-INF/classes/Currencies.xml
/build/web/WEB-INF/classes/DOCwebServices/Currency.xsd
/build/web/WEB-INF/classes/DOCwebServices/CurrencyConversionWS.class
/build/web/WEB-INF/classes/org/me/currency/Currencies.class
/build/web/WEB-INF/classes/org/me/currency/Currency.class
/build/web/WEB-INF/classes/org/me/currency/ObjectFactory.class
/build/web/WEB-INF/classes/org/me/currency/exception/CurrencyNotFoundException.class
/build/web/WEB-INF/classes/org/me/currency/exception/ProviderNotAvailableException.class
/build/web/WEB-INF/classes/org/me/currency/package-info.class
/build/web/WEB-INF/classes/org/me/currency/provider/DefaultExchangeRateProvider$ExRate.class
/build/web/WEB-INF/classes/org/me/currency/provider/DefaultExchangeRateProvider.class
/build/web/WEB-INF/classes/org/me/currency/provider/ExchangeRateProvider.class
/build/web/WEB-INF/classes/org/me/currency/provider/JAXBExchangeRateProvider.class
/build/web/WEB-INF/classes/org/me/currency/provider/RestApiExchangeRateProvider.class
/build/web/WEB-INF/lib/commons-codec-1.6.jar
/build/web/WEB-INF/lib/commons-logging-1.1.3.jar
/build/web/WEB-INF/lib/fluent-hc-4.3.1.jar
/build/web/WEB-INF/lib/httpclient-4.3.1.jar
/build/web/WEB-INF/lib/httpclient-cache-4.3.1.jar
/build/web/WEB-INF/lib/httpcore-4.3.jar
/build/web/WEB-INF/lib/httpmime-4.3.1.jar
/build/web/WEB-INF/lib/javaee-endorsed-api-6.0.jar
/build/web/WEB-INF/lib/json-simple-1.1.jar
/build/web/WEB-INF/sun-web.xml
/build/web/WEB-INF/web.xml
/build/web/gfv3ee6.dpf
/build/web/index.jsp
